<footer class="site-footer">

  <div class="wrapper">

    <h2 class="footer-heading">{{ site.title }}</h2>

      <div class="row">
        <div class="col-xs-6">
          <ul class="social-media-list list-inline">
            {% for social in site.social %}
              <li>
                <a href="{{social.url}}{{social.username}}">
                  <img src="{{ social.site || downcase | prepend: '/assets/icons/' | append: '.png' }}" alt="{{ social.site }}" />
                </a>
              </li>
            {% endfor %}
          </ul>
        </div>
        <div class="col-xs-6">
          <p class="text">{{ site.description }}</p>
        </div>
      </div>
    </div>

  </div>

</footer>
